fastapi
celery
redis
pandas
python-dotenv
openai
langchain 
langgraph
langchainhub
langchain_unstructured
langchain-community
langchain-huggingface
langchain-openai
langchain-google-genai
langchain_chroma
scikit-learn
sentence-transformers
newsapi-python
trafilatura
lxml[html_clean]
jupyter
ipykernel
flaml[automl]
loguru
uvicorn
matplotlib
chromadb
markdownify
pypdf
pyyaml
python-dotenv
streamlit
tavily-1.1.0
pyppeteer